<ion-content>
  <div class="container mx-auto px-4 sm:px-8">
    <div>
      <h2 class="text-2xl font-semibold leading-tight my-10">Auditorias</h2>
    </div>
    <div
        class="inline-block min-w-full shadow-md rounded-lg overflow-hidden"
      >
  <table class="w-full table-auto text-left min-w-full leading-normal">
    <thead class="bg-gray-300">
      <tr>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 mt-4">Descripción</th>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Usuario</th>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 hidden md:table-cell">Acción</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 dark:text-gray-100">
      <tr *ngFor="let auditoria of auditorias">
        <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
          {{auditoria.description_aud}}
        </td>
        <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
          <div class="flex items-center">
            {{auditoria.fk_id_user}}
          </div>
        </td>
        <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
          <div class="flex items-center">
            <div class="sm:flex hidden flex-col">
               {{ auditoria.action_aud }}
            </div>
            <button class="w-8 h-8 inline-flex items-center justify-center text-gray-400 ml-auto">
              <svg viewBox="0 0 24 24" class="w-5" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="19" cy="12" r="1"></circle>
                <circle cx="5" cy="12" r="1"></circle>
              </svg>
            </button>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>
</div>
</ion-content>
