<ion-content class="flex justify-center overflow-x-hidden h-full w-full">
  <div class="clase h-full w-full" style="align-items: center !important;
  display: flex !important;
  align-content: center !important;
  justify-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  ">
  <ion-card class="lg:w-1/3 lg:ml-10 mt-10">
    <ion-card-header>
      <ion-card-subtitle>¡Bienvenido!</ion-card-subtitle>
      <ion-card-title>Disfruta del sistema</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si estás usando la vista de móviles, por favor ⇽ desliza hacia la derecha
    </ion-card-content>
  </ion-card>
  <div class="wrap lg:w-1/2">
    <div class="widget">
      <div class="fecha bg-gray-100 bg-opacity-60 bg-clip-padding">
        <p id="diaSemana" class="diaSemana"></p>
  
        <p id="dia" class="dia">{{now|date:'d'}}</p>
  
        <p class="ml-2">
          de 
        </p>
  
        <p id="mes" class="mes ml-2">{{now|date:'MMMM'}}</p>
  
        <p class="ml-2">
          del 
        </p>
  
        <p id="year" class="year ml-2">{{now|date:'YYYY'}}</p>
      </div>
  
      <div class="reloj bg-gray-100 bg-opacity-60 bg-clip-padding">
        <p id="horas" class="horas ml-2">{{now|date:'h'}}</p>
  
        <p class="ml-2">
          :
        </p>
  
        <p id="minutos" class="minutos ml-2">{{now|date:'mm'}}</p>
  
        <p class="ml-2">
          :
        </p>
  
        <div class="caja-segundos ml-2">
          <p id="ampm" class="ampm">{{now|date:' a'}}</p>
          <p id="segundos" class="segundos">{{now|date:'ss'}}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</ion-content>

