* {
	box-sizing: border-box;
}
.clase{
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='90' height='90' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(122)'%3E%3Crect width='100%25' height='100%25' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M0 0h40v40h-40z' fill='%23d1d1d1' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M-40 0h2.86l8 20l-8 20h-2.86l8-20zM-34.29 0h2.86l8 20l-8 20h-2.86l8-20zM-28.57 0h2.86l8 20l-8 20h-2.86l8-20zM-22.86 0h2.86l8 20l-8 20h-2.86l8-20zM-17.14 0h2.86l8 20l-8 20h-2.86l8-20zM-11.43 0h2.86l8 20l-8 20h-2.86l8-20zM-5.71 0h2.86l8 20l-8 20h-2.86l8-20zM0 0h2.86l8 20l-8 20h-2.86l8-20zM5.71 0h2.86l8 20l-8 20h-2.86l8-20zM11.43 0h2.86l8 20l-8 20h-2.86l8-20zM17.14 0h2.86l8 20l-8 20h-2.86l8-20zM22.86 0h2.86l8 20l-8 20h-2.86l8-20zM28.57 0h2.86l8 20l-8 20h-2.86l8-20zM34.29 0h2.86l8 20l-8 20h-2.86l8-20z' fill='%23ffffff'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='0.2'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}
body {
	background-color: #acacac;
	background-image: url('https://i.pinimg.com/originals/d3/02/77/d30277bcc2d0a9a8554aa3eaaf050263.jpg');
	color: #ffffff;
	font-size: 16px;
}

.wrap {
	max-width: 1000px;
}

.widget {
	margin: 2em;
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	margin-bottom: 5px;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.reloj {
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos, .reloj .ampm {
	display: block;
	font-size: 2rem;
}