<ion-content class="flex justify-center overflow-x-hidden h-full w-full" style="align-items: center !important;
display: flex !important;
align-content: center !important;
justify-items: center !important;
justify-content: center !important;">
  <ion-card class="lg:w-1/3 lg:ml-10 mt-10">
    <ion-card-header>
      <ion-card-subtitle>Bienvenido!</ion-card-subtitle>
      <ion-card-title>Disfruta del sistema</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si estas usando usando la vista de mobiles, por favor <-- desliza hacia la derecha
    </ion-card-content>
  </ion-card>
</ion-content>

