<div class="flex overflow-x-hidden h-full w-full">
  <div class="xl:w-72 w-full flex-shrink-0 border-r border-gray-200 dark:border-gray-800 h-full overflow-y-auto lg:block p-5" [ngClass]="rla===true ? 'hidden' : ''">
    <!-- <div class="text-xs text-gray-400 tracking-wider">USERS</div>
    input busqueda
    <div class="relative mt-2">
      <input type="text" class="pl-8 h-9 bg-transparent border border-gray-300 dark:border-gray-700 dark:text-white w-full rounded-md text-sm" placeholder="Search" />
      <svg viewBox="0 0 24 24" class="w-4 absolute text-gray-400 top-1/2 transform translate-x-0.5 -translate-y-1/2 left-2" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </div> -->
    <div class="md:flex mt-1">
      <div class="md:w-1/3"></div>
      <div class="md:w-2/3">
  <ion-button class="ion-margin" color="primary" routerLink="/dashboard/agenda/add" ><ion-icon name="add-outline"></ion-icon></ion-button>

      </div>
    </div>
    <!-- input busqueda final -->
    <!-- Cards Barra Lateral Pagina -->

    <div *ngFor="let nota of notas" class="space-y-4 mt-3">
      <!-- inicio componente datos card -->
      <button routerLink="/dashboard/agenda/show/{{nota.id}}" routerLinkActive #cla="routerLinkActive" (click)="onClick()" class="bg-white p-3 w-full flex rounded-md dark:bg-gray-800 shadow-lg relative ring-1 ring-gray-100 focus:ring-blue-500 focus:outline-none">
        <ion-icon name="alert-circle-outline" class="mt-1" size="small"></ion-icon>
        <div class="flex xl:flex-row flex-col items-center font-medium text-gray-900 dark:text-white pb-2 mb-2 xl:border-b border-gray-200 border-opacity-75 dark:border-gray-700 w-full">
          {{'nota - '+nota.note}}
        </div>

      </button>
      <!-- final componente datos card -->
    </div>
  </div>
  <!-- inicio componente pagina datos principal -->

  <div class="flex overflow-x-hidden h-full w-full bg-white">
    <ion-content><ion-router-outlet></ion-router-outlet></ion-content>
  </div>
  <!-- fin componente pagina datos principal -->
</div>
