<div class="bg-white dark:bg-gray-900 h-full w-full">
  <!-- top componente pagina datos principal -->
  <ion-button class="ion-margin lg:hidden" color="light" routerLink="/dashboard/usuarios" >Atras</ion-button>
  <div class="sm:px-7 sm:pt-7 px-4 pt-4 flex flex-col w-full border-b border-gray-200 bg-white dark:bg-gray-900 dark:text-white dark:border-gray-800 sticky top-0">
    <div class="flex w-full items-center">
      <div class="flex items-center text-3xl text-gray-900 dark:text-white">
        <img src="/assets/icon/user.png" class="w-12 mr-4 rounded-full" alt="profile" />
        {{usuario.name}}
      </div>
      <div class="ml-auto sm:flex hidden items-center justify-end">
        <!-- <div class="text-right">
          <div class="text-xs text-gray-400 dark:text-gray-400">Dinero Prestado:</div>
          <div class="text-gray-900 text-lg dark:text-white"> {{montoPrestado}} </div>
        </div> -->
        <ion-fab-button  routerLink="/dashboard/usuarios/put/{{usuario.id}}" color="light" size="small">
          <ion-icon name="create-outline"></ion-icon>
       </ion-fab-button>

        <ion-fab-button (click)="delete()" color="light" size="small">
          <ion-icon name="trash-outline"></ion-icon>
       </ion-fab-button>
      </div>
    </div>
    <div class="flex items-center space-x-3 sm:mt-7 mt-4">
      <a href="#" class="px-3 border-b-2 border-blue-500 text-blue-500 dark:text-white dark:border-white pb-1.5">Datos</a>
    </div>
  </div>
  <!-- fin top componente pagina datos principal -->
  <!-- inicio principal componente pagina datos principal  -->
  <div class="sm:p-7 p-4">
    <div class="flex w-full items-center mb-7">
      <!-- div paginacion top -->
      <!-- <div class="ml-auto text-gray-500 text-xs sm:inline-flex hidden items-center">
        <span class="mr-3">Page 2 of 4</span>
        <button class="inline-flex mr-2 items-center h-8 w-8 justify-center text-gray-400 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none py-0">
          <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
        </button>
        <button class="inline-flex items-center h-8 w-8 justify-center text-gray-400 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none py-0">
          <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </button>
      </div> -->
      <!-- fin div paginacion top -->
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Datos del usuario</ion-card-subtitle>
        <ion-card-title>Usuario # {{usuario.id}} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>Email: {{ usuario.email }}</h1>
        <h1>Nivel: {{usuario.level}} </h1>
      </ion-card-content>
    </ion-card>
    <!-- footer -->
    <!-- <div class="flex w-full mt-5 space-x-2 justify-end">
      <button class="inline-flex items-center h-8 w-8 justify-center text-gray-400 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none">
        <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </button>
      <button class="inline-flex items-center h-8 w-8 justify-center text-gray-500 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none">1</button>
      <button class="inline-flex items-center h-8 w-8 justify-center text-gray-500 rounded-md shadow border border-gray-200 dark:border-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-white leading-none">2</button>
      <button class="inline-flex items-center h-8 w-8 justify-center text-gray-500 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none">3</button>
      <button class="inline-flex items-center h-8 w-8 justify-center text-gray-400 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none">
        <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </button>
    </div> -->
    <!-- fin del footer -->
  </div>
  <!-- fin  principal componente pagina datos principal -->
</div>
