<ion-content class="flex overflow-x-hidden h-full w-full" color="light">

  <form [formGroup]="addFrom" (ngSubmit)="add()" class="ion-margin">
    <div class="flex justify-between">
      <ion-button class="ion-margin lg:hidden" color="light" routerLink="/dashboard/pagos" >Atrás</ion-button>
      <ion-button class="ion-margin" type="submit">
        Agregar
      </ion-button>
    </div>

    <ion-item>
      <ion-label position="floating">Monto</ion-label>
      <ion-input type="number" formControlName="amount_payment" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Préstamo</ion-label>
      <ion-select formControlName="fk_id_loan" (ionChange)="changeCustomer()" okText="Seleccionar" cancelText="Cancelar">
        <ion-select-option value="brown">Selecciona...</ion-select-option>
        <ion-select-option *ngFor="let prestamo of prestamos" [value]="prestamo.id">préstamo #{{prestamo.id}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime formControlName="date_payment" display-format="YYYY-MM-DD"></ion-datetime>
    </ion-item>

      <ion-item>
        <ion-label position="floating">Serial</ion-label>
        <ion-input formControlName="serial_payment" ></ion-input>
      </ion-item>

  </form>
  </ion-content>



