<ion-content class="flex overflow-x-hidden h-full w-full" color="light">

  <form [formGroup]="putFrom" (ngSubmit)="put()" class="ion-margin">
    <div class="flex justify-between">
      <ion-button class="ion-margin" color="light" routerLink="/dashboard/pedidos/show/{{pedido}}" >Atras</ion-button>
      <ion-button class="ion-margin" type="submit">
        Actualizar
      </ion-button>
    </div>

    <ion-item>
      <ion-label position="floating">Monto</ion-label>
      <ion-input type="number" formControlName="amount_cash_order" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cliente</ion-label>
      <ion-select formControlName="fk_customer_id" (ionChange)="changeCustomer()" okText="Okay" cancelText="Dismiss">
        <ion-select-option >Selecciona...</ion-select-option>
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.name_customer}}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </form>
  </ion-content>




