<ion-content class="flex overflow-x-hidden h-full w-full" color="light">

  <form [formGroup]="addFrom" (ngSubmit)="add()" class="ion-margin">
    <div class="flex justify-between">
      <ion-button class="ion-margin lg:hidden" color="light" routerLink="/dashboard/prestamos" >Atrás</ion-button>
      <ion-button class="ion-margin" type="submit">
        Agregar
      </ion-button>
    </div>

    <ion-item>
      <ion-label position="floating">Monto</ion-label>
      <ion-input type="number" formControlName="amount_loan" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cliente</ion-label>
      <ion-select formControlName="fk_id_cliente" (ionChange)="changeCustomer()" okText="Seleccionar" cancelText="Cancelar">
        <ion-select-option >Selecciona...</ion-select-option>
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.name_customer}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de inicio préstamo</ion-label>
      <ion-datetime formControlName="date_start_loan" display-format="YYYY-MM-DD"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de inicio de pagos</ion-label>
      <ion-datetime formControlName="date_pay_loan" display-format="YYYY-MM-DD"></ion-datetime>
    </ion-item>

      <ion-item>
        <ion-label position="floating"> de interes (%)</ion-label>
        <ion-input type="number" formControlName="interest_rate_loan" ></ion-input>
      </ion-item>

  </form>
  </ion-content>


